<section class="content-header">
  <h1>
    Pessoas
    <small>{{pessoa.id ? 'Atualizar' : 'Adicionar'}}</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li><a href="#">Pessoa</a></li>
    <li class="active">{{pessoa.id ? 'Atualizar' : 'Adicionar'}}</li>
  </ol>
</section>

<section class="content">
  <div class="row">
    <!-- left column -->
    <div class="col-md-12">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">{{pessoa.id ? 'Atualizar' : 'Adicionar'}} Pessoa</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form #pessoaForm="ngForm" name="pessoaForm" role="form" (ngSubmit)="onSubmit(pessoaForm)">
          <input type="hidden" name="id" value="id" [(ngModel)]="pessoa.id"/>

          <app-alert-message></app-alert-message>

          <div class="box-body">
            <h4>Dados Pessoais</h4>
            <hr>
            <div class="row">
              <div class="form-group col-md-6">
                <label for="nome">Nome</label>
                <input type="text"
                       class="form-control"
                       id="nome"
                       name="nome"
                       [(ngModel)]="pessoa.nome"
                       [required]="true"
                       placeholder="Nome"/>
              </div>

              <div class="form-group col-md-3">
                <label for="data_nascimento">Data de Nascimento</label>
                <input type="date"
                       class="form-control"
                       id="data_nascimento"
                       name="data_nascimento"
                       [(ngModel)]="pessoa.data_nascimento"
                       [required]="true"
                       placeholder="Data Nascimento"/>
              </div>

              <div class="form-group col-md-3">
                <label for="genero">Gênero</label>
                <select class="form-control"
                        id="genero"
                        [(ngModel)]="pessoa.id_genero"
                        [required]="true"
                        name="id_genero">
                  <option [value]="1">Masculino</option>
                  <option [value]="2">Feminino</option>
                  <option [value]="3">Outro</option>
                </select>
              </div>

              <div class="form-group col-md-4">
                <label for="estado_civil">Estado Civil</label>
                <select class="form-control"
                        id="estado_civil"
                        [(ngModel)]="pessoa.id_estado_civil"
                        [required]="true"
                        name="id_estado_civil">
                  <option [value]="1">Solteiro(a)</option>
                  <option [value]="2">Casado(a)</option>
                  <option [value]="3">Separado(a)</option>
                  <option [value]="4">Divorciado(a)</option>
                  <option [value]="5">Viúvo(a)</option>
                </select>
              </div>

              <div class="form-group col-md-4">
                <label for="categoria_pessoa">Categoria</label>
                <select class="form-control"
                        id="categoria_pessoa"
                        [(ngModel)]="pessoa.id_categoria_pessoa"
                        [required]="true"
                        name="id_categoria_pessoa">
                  <option [value]="1">Proprietário</option>
                  <option [value]="2">Inquilino</option>
                  <option [value]="3">Fiador</option>
                </select>
              </div>
            </div>

            <h4>Documentos de Identificação</h4>
            <hr>
            <div class="row">
              <div class="form-group col-md-4">
                <label for="nacionalidade">Nacionalidade</label>
                <select class="form-control"
                        id="nacionalidade"
                        [(ngModel)]="pessoa.id_nacionalidade"
                        [required]="true"
                        name="id_nacionalidade">
                  <option [value]="1">Brasileiro</option>
                  <option [value]="2">Estrangeiro</option>
                </select>
              </div>

              <div class="form-group col-md-4">
                <label for="tipo_pessoa">Tipo de Pessoa</label>
                <select class="form-control"
                        id="tipo_pessoa"
                        [(ngModel)]="pessoa.id_tipo_pessoa"
                        [disabled]="pessoa.id_nacionalidade == 2"
                        [required]="pessoa.id_nacionalidade == 1"
                        name="id_tipo_pessoa">
                  <option [value]="1">Pessoa Física</option>
                  <option [value]="2">Pessoa Jurídica</option>
                </select>
              </div>

              <div class="form-group col-md-3" *ngIf="pessoa.id_tipo_pessoa == 1">
                <label for="cpf">CPF:</label>
                <input type="text"
                       [(ngModel)]="pessoa.cpf_cnpj"
                       [required]="pessoa.id_nacionalidade == 1"
                       name="cpf_cnpj"
                       class="form-control"
                       id="cpf"
                       placeholder="CPF"
                />
              </div>

              <div class="form-group col-md-3" *ngIf="pessoa.id_tipo_pessoa == 2">
                <label for="cpf">CNPJ:</label>
                <input type="text"
                       [(ngModel)]="pessoa.cpf_cnpj"
                       [required]="pessoa.id_nacionalidade == 1"
                       name="cpf_cnpj"
                       class="form-control"
                       id="cnpj"
                       placeholder="CNPJ"
                />
              </div>

              <div class="form-group col-md-3">
                <label for="rg">RG:</label>
                <input type="text"
                       name="rg"
                       [(ngModel)]="pessoa.rg"
                       [disabled]="pessoa.id_nacionalidade == 2"
                       [required]="pessoa.id_nacionalidade == 1"
                       class="form-control"
                       id="rg"
                       placeholder="RG"/>
              </div>

              <div class="form-group col-md-3">
                <label for="orgaoExpedidor">Órgão Emissor:</label>
                <input type="text"
                       name="orgao_expedidor"
                       [(ngModel)]="pessoa.orgao_expedidor"
                       [disabled]="pessoa.id_nacionalidade == 2"
                       [required]="pessoa.id_nacionalidade == 1"
                       class="form-control"
                       id="orgaoExpedidor"
                       placeholder="Órgão Expedidor"/>
              </div>

              <div class="form-group col-md-3">
                <label for="passaporte">Passaporte:</label>
                <input type="text"
                       name="passaporte"
                       [(ngModel)]="pessoa.passaporte"
                       [disabled]="pessoa.id_nacionalidade == 1"
                       [required]="pessoa.id_nacionalidade == 2"
                       class="form-control"
                       id="passaporte"
                       placeholder="Passaporte"/>
              </div>

              <div class="form-group col-md-3">
                <label for="dataEmissao">Data de Emissão:</label>
                <input type="date"
                       name="data_emissao"
                       [(ngModel)]="pessoa.data_emissao"
                       [disabled]="pessoa.id_nacionalidade == 2"
                       [required]="pessoa.id_nacionalidade == 1"
                       class="form-control"
                       id="dataEmissao"
                       placeholder="Data de Emissão"/>
              </div>
            </div>

            <h4>Endereço</h4>
            <hr>

            <div class="row">
              <div class="form-group col-md-3">
                <label for="cep">CEP:</label>
                <input type="text"
                       class="form-control"
                       id="cep"
                       name="cep"
                       mask="9999-999"
                       (blur)="getCEP($event.target.value)"
                       [(ngModel)]="pessoa.cep"
                       [required]="true"
                       placeholder="CEP"/>
              </div>

              <div class="form-group col-md-4">
                <label for="logradouro">Logradouro:</label>
                <input type="text"
                       class="form-control"
                       id="logradouro"
                       name="logradouro"
                       [(ngModel)]="pessoa.logradouro"
                       [required]="true"
                       placeholder="Logradouro"/>
              </div>

              <div class="form-group col-md-3">
                <label for="bairro">Bairro:</label>
                <input type="text"
                       class="form-control"
                       id="bairro"
                       name="bairro"
                       [(ngModel)]="pessoa.bairro"
                       [required]="true"
                       placeholder="Bairro"/>
              </div>

              <div class="form-group col-md-3">
                <label for="complemento">Complemento:</label>
                <input type="text"
                       class="form-control"
                       id="complemento"
                       name="complemento"
                       [(ngModel)]="pessoa.complemento"
                       [required]="true"
                       placeholder="Complemento"/>
              </div>

              <div class="form-group col-md-2">
                <label for="numero">Número:</label>
                <input type="text"
                       class="form-control"
                       id="numero"
                       name="numero"
                       [(ngModel)]="pessoa.numero"
                       [required]="true"
                       placeholder="Número"/>
              </div>

              <div class="form-group col-md-3">
                <label for="cidade">Cidade:</label>
                <input type="text"
                       class="form-control"
                       id="cidade"
                       name="cidade"
                       [(ngModel)]="pessoa.cidade"
                       [required]="true"
                       placeholder="Cidade"/>
              </div>

              <div class="form-group col-md-2">
                <label for="estado">Estado:</label>
                <input type="text"
                       class="form-control"
                       id="estado"
                       name="estado"
                       [(ngModel)]="pessoa.estado"
                       [required]="true"
                       placeholder="Estado"/>
              </div>

            </div>

            <h4>Contato</h4>
            <hr>
            <div class="row">
              <div class="form-group col-md-3">
                <label for="telefone_celular">Telefone Celular:</label>
                <input type="text"
                       class="form-control"
                       id="telefone_celular"
                       name="telefone_celular"
                       mask="(99) 9999-9999"
                       [(ngModel)]="pessoa.telefone_celular"
                       [required]="true"
                       placeholder="Telefone Celular"/>
              </div>

              <div class="form-group col-md-3">
                <label for="whatsapp">WhatsApp:</label>
                <input type="text"
                       class="form-control"
                       id="whatsapp"
                       name="whatsapp"
                       maxlength="9"
                       [(ngModel)]="pessoa.whatsapp"
                       [required]="true"
                       placeholder="WhatsApp"/>
              </div>

              <div class="form-group col-md-4">
                <label for="email">E-mail:</label>
                <input type="email"
                       class="form-control"
                       id="email"
                       name="email"
                       [(ngModel)]="pessoa.email"
                       [required]="true"
                       placeholder="E-mail"/>
              </div>
            </div>

            <h4>Dados Adicionais</h4>
            <hr>
            <div class="row">
              <div class="form-group col-md-3">
                <label for="profissao">Profissão:</label>
                <input type="text"
                       class="form-control"
                       id="profissao"
                       name="profissao"
                       [(ngModel)]="pessoa.profissao"
                       [required]="true"
                       placeholder="Profissão"/>
              </div>
            </div>
          </div>
          <!-- /.box-body -->
            <div class="box-footer text-center">
              <button type="submit" class="btn btn-primary" [disabled]="!pessoaForm.valid" style="margin-right:5px;">Salvar</button>
              <button type="button" class="btn btn-success" [routerLink]="['/list-pessoa']">Voltar</button>
            </div>

        </form>

      </div>
    </div>
  </div>
</section>


<ngx-loading [show]="loading"></ngx-loading>
