<section class="content-header">
  <h1>
    Contratos
    <small>Listar</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-handshake-o"></i> Contratos</a></li>
    <li class="active">Listar</li>
  </ol>
</section>

<section class="content">
  <div class="box box-primary">
    <div class="box-header">
      <i class="ion ion-clipboard"></i>

      <h3 class="box-title">Listagem de Contratos</h3>

      <div class="box-tools pull-right">
        <!-- BOTÕES DE ADICIONAR-->
        <button type="button"
                class="btn"
                style="margin-right: 5px;"
                [ngClass]="{'btn-success': filter == false, 'btn-default': filter == true}" (click)="openFilter()"><i
          class="fa" [ngClass]="{'fa-search-plus': filter == false, 'fa-search-minus': filter == true}"></i> Busca
          Avançada
        </button>

        <button type="button"
                class="btn btn-primary"
                [routerLink]="['/new-contrato']">
          <i class="fa fa-plus"></i> Adicionar
        </button>
      </div>
    </div>
    <!-- /.box-header -->
    <app-alert-message></app-alert-message>
    <div class="box-body">
      <!-- See dist/js/pages/dashboard.js to activate the todoList plugin -->
      <div class="panel panel-primary" *ngIf="filter == true">
        <div class="panel-body">
          <form #formFiltro="ngForm" name="formFiltro" role="form">
            <div class="row">
              <div class="form-group col-md-4">
                <label for="id_locatario">Inquilino</label>
                <select class="form-control"
                        id="id_locatario"
                        [(ngModel)]="filtro.id_locatario"
                        name="id_locatario">
                  <option [value]="null">Todos</option>
                  <option *ngFor="let inquilino of inquilinos" [value]="inquilino.id">{{inquilino.nome}}</option>
                </select>
              </div>

              <div class="form-group col-md-3">
                <label for="id_tipo_contrato">Tipo de Contrato</label>
                <select class="form-control"
                        id="id_tipo_contrato"
                        [(ngModel)]="filtro.id_tipo_contrato"
                        name="id_tipo_contrato">
                  <option [value]="null">Todos</option>
                  <option [value]="1">Aluguel</option>
                  <option [value]="2">Temporada</option>
                </select>
              </div>

              <div class="form-group col-md-4">
                <label for="id_imovel">Imóvel</label>
                <select class="form-control"
                        id="id_imovel"
                        [(ngModel)]="filtro.id_imovel"
                        name="id_imovel">
                  <option [value]="null">Todos</option>
                  <option *ngFor="let imovel of imoveis" [value]="imovel.id">{{imovel.nome}}</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-2">
                <label for="vigencia_inicial">Vigência Mínima</label>
                <input type="text"
                       class="form-control"
                       id="vigencia_inicial"
                       name="vigencia_inicial"
                       [(ngModel)]="filtro.vigencia_inicial"
                       [required]="false"/>
              </div>

              <div class="form-group col-md-2">
                <label for="vigencia_final">Vigência Máxima</label>
                <input type="text"
                       class="form-control"
                       id="vigencia_final"
                       name="vigencia_final"
                       [(ngModel)]="filtro.vigencia_final"
                       [required]="filtro.vigencia_final"/>
              </div>
              <div class="form-group col-md-2">
                <label for="valor_inicial">Valor Inicial</label>
                <input type="text"
                       class="form-control"
                       id="valor_inicial"
                       name="valor_inicial"
                       [(ngModel)]="filtro.valor_inicial"
                       [required]="false"/>
              </div>

              <div class="form-group col-md-2">
                <label for="valor_final">Valor Final</label>
                <input type="text"
                       class="form-control"
                       id="valor_final"
                       name="valor_final"
                       [(ngModel)]="filtro.valor_final"
                       [required]="filtro.valor_final"/>
              </div>

              <div class="form-group col-md-3">
                <label for="id_status">Status</label>
                <select class="form-control"
                        id="id_status"
                        [(ngModel)]="filtro.id_status"
                        name="id_status">
                  <option [value]="null">Todos</option>
                  <option [value]="1">Vigente</option>
                  <option [value]="2">Cancelado</option>
                  <option [value]="3">Vencido</option>
                  <option [value]="12">Cumprido</option>
                </select>
              </div>
            </div>
            <button type="button"
                    (click)="getAll()"
                    class="btn btn-success"
                    style="margin-right: 5px;">
              Buscar
            </button>
            <button type="button"
                    (click)="clear()"
                    class="btn btn-default">
              Limpar
            </button>
          </form>
        </div>
      </div>
      <table id="example1" class="table table-bordered table-hover">
        <thead>
        <tr>
          <th>Status</th>
          <th>Tipo</th>
          <th>Período</th>
          <th>Vigência</th>
          <th>Valor</th>
          <th>Inquilino</th>
          <th>Imóvel</th>
          <th>Ação</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let contrato of contratos | paginate: { id: 'listing_pagination',
                                                      itemsPerPage: 10,
                                                      currentPage: page,
                                                      totalItems: totalRec}">
          <td><span class="label"
                    [ngClass]="{'label-warning': contrato.id_status == 3 || contrato.id_status == 11, 'label-success': contrato.id_status == 1, 'label-danger': contrato.id_status == 2, 'label-default': contrato.id_status == 12}">{{contrato.status}}</span>
          </td>
          <td>{{contrato.tipo_contrato}}</td>
          <td>{{contrato.periodo_inicial | date: 'dd/MM/yyyy'}} ~ {{contrato.periodo_final | date: 'dd/MM/yyyy'}}</td>
          <td>{{contrato.vigencia ? contrato.vigencia + ' meses' : contrato.dias + ' dias'}}</td>
          <td>{{contrato.valor | currency:"BRL":"symbol"}}</td>
          <td>{{contrato.locatario}}</td>
          <td>{{contrato.imovel}}</td>
          <td>
            <button type="button"
                    [disabled]="contrato.id_status != 1 && contrato.id_status != 11"
                    [routerLink]="['/update-contrato/'+contrato.id]"
                    class="btn btn-info btn-sm" style="margin-right: 5px;">
              <i class="fa fa-edit" aria-hidden="true"></i>
            </button>

            <button type="button"
                    [disabled]="contrato.id_status != 3"
                    [routerLink]="['/renovacao-contrato/'+contrato.id]"
                    class="btn btn-success btn-sm" style="margin-right: 5px;">
              <i class="fa fa-refresh" aria-hidden="true"></i>
            </button>

            <button type="button"
                    (click)="gerarPdf(contrato.id)"
                    class="btn btn-primary btn-sm" style="margin-right: 5px;">
              <i class="fa fa-file-text" aria-hidden="true"></i>
            </button>

            <button type="button"
                    (click)="openModalConfirmRemove(template, contrato.id)"
                    class="btn btn-danger btn-sm">
              <i class="fa fa-trash" aria-hidden="true"></i>
            </button>
          </td>
        </tr>
        <tr class="animate-repeat" *ngIf="contratos.length == 0">
          <td colspan="8" class="text-center">
            <em>
              Nenhum resultado foi encontrado
            </em>
          </td>
        </tr>
        </tbody>
      </table>
      <div>
        <pagination-controls id="listing_pagination" maxSize="5" directionLinks="true"
                             (pageChange)="page = $event"></pagination-controls>
      </div>
    </div>
    <!-- /.box-body -->

  </div>
</section>

<ng-template #template>
  <div class="alert-box">
    <div class="modal-header">
      <h4 class="modal-title pull-left">Confirmação de exclusão</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      Confirma a exclusão deste registro? Há muitos registros dependentes do contrato, como faturas.
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="confirmRemove()">Sim</button>
      <button type="button" class="btn btn-default" (click)="decline()">Não</button>
    </div>
  </div>
</ng-template>

<ngx-loading [show]="loading"></ngx-loading>
