<section class="content-header">
  <h1>
    Contas
    <small>Listar</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-money"></i> Contas</a></li>
    <li class="active">Listar</li>
  </ol>
</section>

<section class="content">
  <div class="box box-primary">
    <div class="box-header">
      <i class="ion ion-clipboard"></i>

      <h3 class="box-title">Listagem de Contas</h3>

      <div class="box-tools pull-right">
        <!-- BOTÕES DE ADICIONAR-->
        <button type="button"
                class="btn"
                style="margin-right: 5px;"
                [ngClass]="{'btn-success': filter == false, 'btn-default': filter == true}" (click)="openFilter()"><i
          class="fa" [ngClass]="{'fa-search-plus': filter == false, 'fa-search-minus': filter == true}"></i> Busca
          Avançada
        </button>

        <button type="button" class="btn btn-primary" [routerLink]="['/new-conta']"><i
          class="fa fa-plus"></i> Adicionar
        </button>
      </div>
    </div>
    <!-- /.box-header -->
    <app-alert-message></app-alert-message>
    <div class="box-body">
      <div class="panel panel-primary" *ngIf="filter == true">
        <div class="panel-body">
          <form #formFiltro="ngForm" name="formFiltro" role="form">
            <div class="row">
              <div class="form-group col-md-3">
                <label for="id_tipo_conta">Tipo</label>
                <select class="form-control"
                        id="id_tipo_conta"
                        [(ngModel)]="filtro.id_tipo_conta"
                        (change)="getPlanosConta($event.target.value)"
                        name="id_tipo_conta">
                  <option [value]="null">Todos</option>
                  <option [value]="1">Débitos</option>
                  <option [value]="2">Créditos</option>
                </select>
              </div>

              <div class="form-group col-md-3">
                <label for="id_plano_conta">Plano de Conta</label>
                <select class="form-control"
                        id="id_plano_conta"
                        [(ngModel)]="filtro.id_plano_conta"
                        name="id_plano_conta">
                  <option [value]="null">Todos</option>
                  <option *ngFor="let plano of planos" [value]="plano.id">{{plano.nome}}</option>
                </select>
              </div>

              <div class="form-group col-md-3">
                <label for="periodo_inicial">Período Inicial</label>
                <input type="date"
                       class="form-control"
                       id="periodo_inicial"
                       name="periodo_inicial"
                       [(ngModel)]="filtro.periodo_inicial"
                       [required]="false"/>
              </div>

              <div class="form-group col-md-3">
                <label for="periodo_final">Período Final</label>
                <input type="date"
                       class="form-control"
                       id="periodo_final"
                       name="periodo_final"
                       [(ngModel)]="filtro.periodo_final"
                       [required]="filtro.periodo_inicial"/>
              </div>

              <div class="form-group col-md-2">
                <label for="valor_inicial">Valor Inicial</label>
                <input type="text"
                       class="form-control"
                       id="valor_inicial"
                       name="valor_inicial"
                       [(ngModel)]="filtro.valor_inicial"/>
              </div>

              <div class="form-group col-md-2">
                <label for="valor_final">Valor Final</label>
                <input type="text"
                       class="form-control"
                       id="valor_final"
                       name="valor_final"
                       [(ngModel)]="filtro.valor_final"/>
              </div>

              <div class="form-group col-md-2">
                <label for="id_status">Status</label>
                <select class="form-control"
                        id="id_status"
                        [(ngModel)]="filtro.id_status"
                        name="id_status">
                  <option [value]="null">Todos</option>
                  <option [value]="4">Em Aberto</option>
                  <option [value]="6">Liquidado</option>
                </select>
              </div>

              <div class="form-group col-md-4">
                <label for="id_imovel">Imóvel</label>
                <select class="form-control"
                        id="id_imovel"
                        [(ngModel)]="filtro.id_imovel"
                        name="id_imovel">
                  <option [value]="null">Todos</option>
                  <option *ngFor="let imovel of imoveis" [value]="imovel.id">{{imovel.nome}}</option>
                </select>
              </div>
            </div>
            <button type="button" (click)="list()" class="btn btn-success" style="margin-right: 5px;">Buscar</button>
            <button type="button" (click)="clear()" class="btn btn-default">Limpar</button>
          </form>
        </div>
      </div>
      <table id="example1" class="table table-bordered table-hover">
        <thead>
        <tr>
          <th>Plano de Conta</th>
          <th>Tipo</th>
          <th>Descrição</th>
          <th>Valor</th>
          <th>Competência</th>
          <th>Data de Vencimento</th>
          <th>Imóvel</th>
          <th>Ação</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let conta of contas | paginate: { id: 'listing_pagination',
                                                      itemsPerPage: 10,
                                                      currentPage: page,
                                                      totalItems: totalRec}">
          <td>{{conta.plano}}</td>
          <td><span class="label"
                    [ngClass]="{'label-danger': conta.id_tipo_conta == 1, 'label-success': conta.id_tipo_conta == 2}">{{conta.tipo}}</span>
          </td>
          <td>{{conta.descricao}}</td>
          <td>{{conta.valor | currency:"BRL":"symbol"}}</td>
          <td>{{conta.competencia | date: 'dd/MM/yyyy'}}</td>
          <td>{{conta.data_vencimento | date: 'dd/MM/yyyy'}}</td>
          <td>{{conta.imovel ? conta.imovel : 'Não se aplica'}}</td>
          <td>
            <button type="button"
                    [routerLink]="['/update-conta/' + conta.id]"
                    class="btn btn-info btn-sm" style="margin-right: 5px;">
              <i class="fa fa-edit" aria-hidden="true"></i>
            </button>

            <button type="button"
                    (click)="openModalConfirmRemove(template, conta.id)"
                    class="btn btn-danger btn-sm">
              <i class="fa fa-trash" aria-hidden="true"></i>
            </button>
          </td>
        </tr>
        <tr class="animate-repeat" *ngIf="contas.length == 0">
          <td colspan="8" class="text-center">
            <em>
              Nenhum resultado foi encontrado
            </em>
          </td>
        </tr>
        </tbody>
      </table>
      <div>
        <pagination-controls id="listing_pagination" maxSize="5" directionLinks="true"
                             (pageChange)="page = $event"></pagination-controls>
      </div>
    </div>
    <!-- /.box-body -->

  </div>
</section>

<ng-template #template>
  <div class="alert-box">
    <div class="modal-header">
      <h4 class="modal-title pull-left">Confirmação de exclusão</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      Confirma a exclusão deste registro?
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="confirmRemove()">Sim</button>
      <button type="button" class="btn btn-default" (click)="decline()">Não</button>
    </div>
  </div>
</ng-template>

<ngx-loading [show]="loading"></ngx-loading>

