<section class="content-header">
  <h1>
    Modelos de Documentos
    <small>Listar</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Modelos de Documentos</li>
    <li class="active">Listar Modelos de Documentos</li>
  </ol>
</section>

<section class="content">
  <div class="box box-primary">
    <div class="box-header">
      <i class="ion ion-clipboard"></i>

      <h3 class="box-title">Gestão de Modelos de Documentos</h3>

      <div class="box-tools pull-right">
        <!-- BOTÕES DE ADICIONAR-->
        <button type="button" class="btn btn-success pull-right" [routerLink]="['/new-modelo-documento']"><i class="fa fa-plus"></i> Adicionar</button>
      </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
      <!-- See dist/js/pages/dashboard.js to activate the todoList plugin -->
      <table id="tblPessoa" class="table table-bordered table-striped">
        <thead>
        <tr>
          <th>Nome</th>
          <th>Tipo</th>
          <th>Ação</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let modelo of modelos | paginate: { id: 'listing_pagination',
                                                      itemsPerPage: 10,
                                                      currentPage: page,
                                                      totalItems: totalRec}">
          <td>{{modelo.nome}}</td>
          <td>{{modelo.tipo_modelo_documento}}</td>
          <td>
            <button type="button"
                    [routerLink]="['/update-modelo-documento/'+modelo.id]"
                    class="btn btn-info btn-sm">
              <i class="fa fa-edit" aria-hidden="true"></i>
            </button>
            <button type="button"
                    class="btn btn-danger btn-sm">
              <i class="fa fa-trash" aria-hidden="true"></i>
            </button>
          </td>
        </tr>
        <tr class="animate-repeat" *ngIf="modelos.length == 0">
          <td colspan="8" class="text-center">
            <em>
              Nenhum resultado foi encontrado
            </em>
          </td>
        </tr>
        </tbody>
      </table>
      <div>
        <pagination-controls id="listing_pagination" maxSize="5" directionLinks="true"
                             (pageChange)="page = $event"></pagination-controls>
      </div>
    </div>
    <!-- /.box-body -->

  </div>
</section>

<ngx-loading [show]="loading"></ngx-loading>
