<section class="content-header">
  <h1>
    Garantias de Contrato
    <small>Adicionar</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li><a href="#">Garantias de Contrato</a></li>
    <li class="active">Adicionar</li>
  </ol>
</section>

<section class="content">
  <div class="row">
    <!-- left column -->
    <div class="col-md-12">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Adicionar Garantia de Contrato</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form #contratoForm="ngForm" name="contratoForm" role="form" (ngSubmit)="onSubmit(contratoForm)">

          <app-alert-message></app-alert-message>

          <div class="box-body">
            <h4>Ocupantes do Imóvel</h4>
            <hr>
            <button type="button" (click)="openModalOcupantes(template)" class="btn-sm btn-success">Adicionar Ocupante</button>
            <table id="tblPessoa" class="table table-bordered table-striped">
              <thead>
              <tr>
                <th>Nome</th>
                <th>CPF/CNPJ</th>
                <th>Descrição</th>
                <th>Ação</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let ocupante of ocupantes">
                <td>{{ocupante.nome}}</td>
                <td>{{ocupante.cpf_cnpj}}</td>
                <td>{{ocupante.descricao}}</td>
                <td>
                  <button type="button"
                          [routerLink]="['/update-pessoa/'+ocupante.id]"
                          class="btn btn-default btn-xs">
                    <i class="fa fa-edit" aria-hidden="true"></i>
                  </button>
                  <button type="button"
                          class="btn btn-default btn-xs">
                    <i class="fa fa-remove" aria-hidden="true"></i>
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
          <!-- /.box-body -->
          <div class="box-footer text-center">
            <button type="submit" class="btn btn-primary" [disabled]="!contratoForm.valid">Salvar</button>
            <button type="button" class="btn btn-success" [routerLink]="['/list-contrato']">Voltar</button>
          </div>

        </form>

      </div>
    </div>
  </div>
</section>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Modal</h4>
    <button type="button" class="close pull-right" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form #ocupanteForm="ngForm" name="ocupanteForm" role="form" (ngSubmit)="addOcupante(ocupanteForm)">
  <div class="modal-body">
    <div class="form-group">
      <label for="nome">Nome</label>
      <input type="text"
             class="form-control"
             id="nome"
             name="nome"
             [(ngModel)]="ocupante.nome"
             [required]="false"
             placeholder="Nome"/>
    </div>

    <div class="form-group">
      <label for="id_categoria_pessoa">Categoria de Pessoa</label>
      <select class="form-control"
              id="id_categoria_pessoa"
              [(ngModel)]="ocupante.id_categoria_pessoa"
              [required]="true"
              name="id_categoria_pessoa">
        <option [value]="2">Inquilino</option>
        <option [value]="3">Fiador</option>
        <option [value]="4">Responsável pelo Pagamento</option>
      </select>
    </div>

    <div class="form-group">
      <label for="cpf_cnpj">CPF/CNPJ</label>
      <input type="text"
             class="form-control"
             id="cpf_cnpj"
             name="cpf_cnpj"
             [(ngModel)]="ocupante.cpf_cnpj"
             [required]="false"
             placeholder="CPF/CNPJ"/>
    </div>

    <div class="form-group">
      <label for="descricao">Descrição</label>
      <input type="text"
             class="form-control"
             id="descricao"
             name="descricao"
             [(ngModel)]="ocupante.descricao"
             [required]="false"
             placeholder="Descrição"/>
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary" [disabled]="!ocupanteForm.valid">Adicionar</button>
  </div>
  </form>
</ng-template>
