<section class="content-header">
  <h1>
    Garantias de Contrato
    <small>Adicionar</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li><a href="#">Garantias de Contrato</a></li>
    <li class="active">Adicionar</li>
  </ol>
</section>

<section class="content">
  <div class="row">
    <!-- left column -->
    <div class="col-md-12">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Adicionar Garantia de Contrato</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <app-alert-message></app-alert-message>

          <div class="box-body">

            <div class="box-group" id="accordion">
              <!-- we are adding the .panel class so bootstrap.js collapse plugin detects it -->
              <div class="panel box box-primary">
                <div class="box-header with-border">
                  <h4 class="box-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                      Ocupantes do Imóvel
                    </a>
                  </h4>
                  <div class="pull-right">
                    <button type="button" (click)="openModalOcupantes(templateOcupante)" class="btn-sm btn-success">
                      Adicionar
                    </button>
                  </div>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                  <div class="box-body">
                    <table id="tblOcupante" class="table table-bordered table-striped">
                      <thead>
                      <tr>
                        <th>Nome</th>
                        <th>CPF</th>
                        <th>Descrição</th>
                        <th>Ação</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let ocupante of ocupantes">
                        <td>{{ocupante.nome}}</td>
                        <td>{{ocupante.cpf_cnpj}}</td>
                        <td>{{ocupante.descricao}}</td>
                        <td>
                          <button type="button"
                                  [routerLink]="['/update-pessoa/'+ocupante.id]"
                                  class="btn btn-default btn-xs">
                            <i class="fa fa-edit" aria-hidden="true"></i>
                          </button>
                          <button type="button"
                                  class="btn btn-default btn-xs">
                            <i class="fa fa-remove" aria-hidden="true"></i>
                          </button>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="panel box box-danger">
                <div class="box-header with-border">
                  <h4 class="box-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                      Testemunhas do Contrato
                    </a>
                  </h4>
                  <div class="pull-right">
                    <button type="button" (click)="openModalTestemunhas(templateTestemunha)"
                            class="btn-sm btn-success pull-right">Adicionar
                    </button>
                  </div>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                  <div class="box-body">
                    <table id="tblTestemunha" class="table table-bordered table-striped">
                      <thead>
                      <tr>
                        <th>Nome</th>
                        <th>CPF</th>
                        <th>Ação</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let testemunha of testemunhas">
                        <td>{{testemunha.nome}}</td>
                        <td>{{testemunha.cpf}}</td>
                        <td>
                          <button type="button"
                                  class="btn btn-default btn-xs">
                            <i class="fa fa-remove" aria-hidden="true"></i>
                          </button>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="panel box box-success">
                <div class="box-header with-border">
                  <h4 class="box-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                      Fiadores do Contrato
                    </a>
                  </h4>
                  <div class="pull-right">
                    <button type="button" (click)="openModalTestemunhas(templateFiador)"
                            class="btn-sm btn-success pull-right">Adicionar
                    </button>
                  </div>
                </div>
                <div id="collapseThree" class="panel-collapse collapse">
                  <div class="box-body">
                    <table id="tblFiador" class="table table-bordered table-striped">
                      <thead>
                      <tr>
                        <th>Nome</th>
                        <th>Ação</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let fiador of fiadores">
                        <td>{{fiador.nome}}</td>
                        <td>
                          <button type="button"
                                  class="btn btn-default btn-xs">
                            <i class="fa fa-remove" aria-hidden="true"></i>
                          </button>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <br/>

          </div>
          <!-- /.box-body -->
          <div class="box-footer text-center">
            <button type="button" class="btn btn-primary" [routerLink]="['/finalizacao-contrato/'+idContrato]">Continuar</button>
            <button type="button" class="btn btn-success" [routerLink]="['/update-contrato/'+idContrato]">Voltar
            </button>
          </div>

      </div>
    </div>
  </div>
</section>

<ng-template #templateOcupante>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Ocupantes do Imóvel</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <app-alert-message></app-alert-message>
  <form #ocupanteForm="ngForm" name="ocupanteForm" role="form" (ngSubmit)="addOcupante(ocupanteForm)">
    <div class="modal-body">
      <div class="form-group">
        <label for="nome">Nome</label>
        <input type="text"
               class="form-control"
               id="nome"
               name="nome"
               [(ngModel)]="ocupante.nome"
               [required]="false"
               placeholder="Nome"/>
      </div>

      <div class="form-group">
        <label for="id_categoria_pessoa">Categoria de Pessoa</label>
        <select class="form-control"
                id="id_categoria_pessoa"
                [(ngModel)]="ocupante.id_categoria_pessoa"
                name="id_categoria_pessoa"
                [required]="true">
          <option [value]="2">Inquilino</option>
          <option [value]="3">Fiador</option>
          <option [value]="4">Responsável pelo Pagamento</option>
        </select>
      </div>

      <div class="form-group">
        <label for="cpf_cnpj">CPF/CNPJ</label>
        <input type="text"
               class="form-control"
               id="cpf_cnpj"
               name="cpf_cnpj"
               [(ngModel)]="ocupante.cpf_cnpj"
               [required]="false"
               placeholder="CPF/CNPJ"/>
      </div>

      <div class="form-group">
        <label for="descricao">Descrição</label>
        <input type="text"
               class="form-control"
               id="descricao"
               name="descricao"
               [(ngModel)]="ocupante.descricao"
               [required]="false"
               placeholder="Descrição"/>
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary" [disabled]="!ocupanteForm.valid">Adicionar</button>
    </div>
  </form>
</ng-template>

<ng-template #templateTestemunha>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Testemunhas do Contrato</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <app-alert-message></app-alert-message>
  <form #testemunhaForm="ngForm" name="testemunhaForm" role="form" (ngSubmit)="addTestemunha(testemunhaForm)">
    <div class="modal-body">
      <div class="form-group">
        <label for="nome_testemunha">Nome</label>
        <input type="text"
               class="form-control"
               id="nome_testemunha"
               name="nome"
               [(ngModel)]="testemunha.nome"
               [required]="false"
               placeholder="Nome"/>
      </div>

      <div class="form-group">
        <label for="testemunha_cpf">CPF</label>
        <input type="text"
               class="form-control"
               id="testemunha_cpf"
               name="cpf"
               [(ngModel)]="testemunha.cpf"
               [required]="false"
               placeholder="CPF/CNPJ"/>
      </div>

    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary" [disabled]="!testemunhaForm.valid">Adicionar</button>
    </div>
  </form>
</ng-template>

<ng-template #templateFiador>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Fiadores do Contrato</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <app-alert-message></app-alert-message>
  <form #fiadorForm="ngForm" name="fiadorForm" role="form" (ngSubmit)="addFiador(fiadorForm)">

    <div class="modal-body">
      <div class="form-group">
        <label for="id_fiador">Fiador</label>
        <select class="form-control"
                id="id_fiador"
                [(ngModel)]="fiador.id_fiador"
                name="id_fiador"
                [required]="true">
          <option *ngFor="let fiador of fiadoresSelectBox" [value]="fiador.id">{{fiador.nome}}</option>

        </select>
      </div>

    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary" [disabled]="!fiadorForm.valid">Adicionar</button>
    </div>
  </form>
</ng-template>

<ngx-loading [show]="loading"></ngx-loading>
