<section class="content-header">
  <h1>
    Renovação de Contrato
    <small>Adicionar</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li><a href="#">Renovação de Contrato</a></li>
    <li class="active">Adicionar</li>
  </ol>
</section>

<section class="content">
  <div class="row">
    <!-- left column -->
    <div class="col-md-12">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Renovar Contrato</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form #renovacaoContratoForm="ngForm" name="contratoForm" role="form" (ngSubmit)="onSubmit(renovacaoContratoForm)">
          <input type="hidden" name="id" [(ngModel)]="contrato.id"/>

          <app-alert-message></app-alert-message>

          <div class="box-body">
            <h4>Dados Básicos</h4>
            <hr>
            <div class="row">

              <div class="form-group col-md-3">
                <label for="referencia">Referência</label>
                <input type="text"
                       class="form-control"
                       id="referencia"
                       name="referencia"
                       [(ngModel)]="contrato.referencia"
                       [required]="false"
                       placeholder="Referência"/>
              </div>

              <div class="form-group col-md-3">
                <label for="tipo_contrato">Tipo de Contrato</label>
                <select class="form-control"
                        id="tipo_contrato"
                        [(ngModel)]="contrato.id_tipo_contrato"
                        (change)="getImoveis($event.target.value)"
                        [disabled]="true"
                        [required]="true"
                        name="id_tipo_contrato">
                  <option [value]="1">Aluguel</option>
                  <option [value]="2">Temporada</option>
                </select>
              </div>

              <div class="form-group col-md-4">
                <label for="imovel">Imóvel</label>
                <select class="form-control"
                        id="imovel"
                        [(ngModel)]="contrato.id_imovel"
                        [required]="true"
                        (change)="getValorImovel($event.target.value)"
                        name="id_imovel">
                  <option *ngFor="let imovel of imoveis" [value]="imovel.id" [disabled]="imovel.status != 'Disponível'">{{imovel.nome + ' - ' + imovel.status}}</option>
                </select>
              </div>

              <div class="form-group col-md-4">
                <label for="locatario">Inquilino</label>
                <select class="form-control"
                        id="locatario"
                        [(ngModel)]="contrato.id_locatario"
                        [disabled]="true"
                        [required]="true"
                        name="id_locatario">
                  <option *ngFor="let locatario of locatarios" [value]="locatario.id">{{locatario.nome}}</option>
                </select>
              </div>
            </div>

            <h4>Data e Recorrência do Contrato</h4>
            <hr>
            <div class="row">
              <div class="form-group col-md-3" *ngIf="contrato.id_tipo_contrato == 2">
                <label for="inicio_estadia">Início da Estadia</label>
                <input type="date"
                       class="form-control"
                       id="inicio_estadia"
                       name="data_inicio"
                       [(ngModel)]="contrato.data_inicio"
                       (blur)="verificaDisponibilidade(contrato.data_inicio, contrato.data_fim) && contrato.data_inicio"
                       [required]="contrato.id_tipo_contrato == 2"
                       placeholder="Início da Estadia"/>
              </div>

              <div class="form-group col-md-3" *ngIf="contrato.id_tipo_contrato == 2">
                <label for="fim_estadia">Fim da Estadia</label>
                <input type="date"
                       class="form-control"
                       id="fim_estadia"
                       name="data_fim"
                       [(ngModel)]="contrato.data_fim"
                       (blur)="verificaDisponibilidade(contrato.data_inicio, contrato.data_fim); getValorTotal()"
                       [required]="contrato.id_tipo_contrato == 2"
                       placeholder="Fim da Estadia"/>
              </div>

              <div class="form-group col-md-3" *ngIf="contrato.id_tipo_contrato == 1">
                <label for="data_inicio">Início do Contrato</label>
                <input type="date"
                       class="form-control"
                       id="data_inicio"
                       name="data_inicio"
                       [(ngModel)]="contrato.data_inicio"
                       [required]="contrato.id_tipo_contrato == 1"
                       (blur)="calcularFimContrato(contrato.data_inicio, contrato.vigencia)"
                       placeholder="Data de Início"/>
              </div>

              <div class="form-group col-md-3" *ngIf="contrato.id_tipo_contrato == 1">
                <label for="vigencia">Vigência</label>
                <input type="number"
                       class="form-control"
                       id="vigencia"
                       name="vigencia"
                       [min]="1"
                       [max]="12"
                       [(ngModel)]="contrato.vigencia"
                       [required]="contrato.id_tipo_contrato == 1"
                       (blur)="calcularFimContrato(contrato.data_inicio, contrato.vigencia)"
                       placeholder="Vigência"/>
              </div>

              <div class="form-group col-md-3" *ngIf="contrato.id_tipo_contrato == 1">
                <label for="data_inicio">Fim do Contrato</label>
                <input type="date"
                       class="form-control"
                       id="data_fim"
                       name="data_fim"
                       [(ngModel)]="contrato.data_fim"
                       [readonly]="true"
                       [required]="contrato.id_tipo_contrato == 1"
                       placeholder="Data Fim"/>
              </div>

            </div>

            <h4>Valores do Contrato</h4>
            <hr>
            <div class="row">
              <div class="form-group col-md-3">
                <label for="valor">Valor:</label>
                <input type="text"
                       class="form-control"
                       id="valor"
                       name="valor"
                       [(ngModel)]="contrato.valor"
                       (blur)="getValorTotal()"
                       [required]="true"
                       placeholder="Valor"/>
              </div>

              <div class="form-group col-md-2" *ngIf="contrato.id_tipo_contrato == 2">
                <label for="dias">Dias:</label>
                <input type="number"
                       class="form-control"
                       id="dias"
                       name="dias"
                       [(ngModel)]="contrato.dias"
                       [required]="contrato.id_tipo_contrato == 2"
                       [readOnly]="true"
                       placeholder="Dias"/>
              </div>

              <div class="form-group col-md-3">
                <label for="primeiro_vencimento">Primeiro Vencimento:</label>
                <input type="date"
                       class="form-control"
                       id="primeiro_vencimento"
                       name="primeiro_vencimento"
                       [(ngModel)]="contrato.primeiro_vencimento"
                       [required]="true"
                />
              </div>

              <div class="form-group col-md-3">
                <label for="valor_total">Valor Total:</label>
                <input type="text"
                       class="form-control"
                       id="valor_total"
                       name="valor_total"
                       [(ngModel)]="contrato.valor_total"
                       [required]="true"
                       [readOnly]="true"
                       placeholder="Valor Total"/>
              </div>

            </div>

            <h4>Dados Adicionais</h4>
            <hr>
            <div class="row">
              <div class="form-group col-md-12">
                <label for="observacoes">Observações:</label>
                <textarea class="form-control"
                          id="observacoes"
                          name="observacoes"
                          [(ngModel)]="contrato.observacoes"
                          [required]="false"
                          placeholder="Observações"></textarea>
              </div>
            </div>
          </div>
          <!-- /.box-body -->
          <div class="box-footer text-center">
            <button type="submit" class="btn btn-primary" [disabled]="!renovacaoContratoForm.valid">Salvar e Continuar</button>
            <button type="button" class="btn btn-success" [routerLink]="['/list-contrato']">Voltar</button>
          </div>

        </form>

      </div>
    </div>
  </div>
</section>

