<section class="content-header">
  <h1>
    Imóveis
    <small>Listar</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Imóveis</li>
    <li class="active">Listar Imóveis</li>
  </ol>
</section>

<section class="content">
  <div class="box box-primary">
    <div class="box-header">
      <i class="ion ion-clipboard"></i>

      <h3 class="box-title">Gestão de Imóveis</h3>

      <div class="box-tools pull-right">
        <!-- BOTÕES DE ADICIONAR-->
        <button type="button" class="btn btn-success pull-right" [routerLink]="['/new-imovel']"><i class="fa fa-plus"></i> Adicionar</button>
      </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
      <!-- See dist/js/pages/dashboard.js to activate the todoList plugin -->
      <table id="tblPessoa" class="table table-bordered table-striped">
        <thead>
        <tr>
          <th>Nome</th>
          <th>Tipo</th>
          <th>Disponível</th>
          <th>Nacionalidade</th>
          <th>WhatsApp</th>
          <th>Tipo</th>
          <th>Ação</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let imovel of imoveis">
          <td>{{imovel.nome}}</td>
          <td>{{imovel.tipo_imovel}}</td>
          <td>{{imovel.disponivel}}</td>
          <td>{{pessoa.nacionalidade}}</td>
          <td>{{pessoa.whatsapp ? pessoa.whatsapp : 'Não Pertence' }}</td>
          <td>{{pessoa.tipo_pessoa ? pessoa.tipo_pessoa : 'É Estrangeiro'}}</td>
          <td>
            <button type="button"
                    [routerLink]="['/update-pessoa/'+pessoa.id]"
                    class="btn btn-default btn-xs">
              <i class="fa fa-edit" aria-hidden="true"></i>
            </button>
            <button type="button"
                    class="btn btn-default btn-xs">
              <i class="fa fa-remove" aria-hidden="true"></i>
            </button>
          </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
          <th>Nome</th>
          <th>CPF/CNPJ/Passaporte</th>
          <th>Categoria</th>
          <th>Nacionalidade</th>
          <th>WhatsApp</th>
          <th>Tipo</th>
          <th>Ação</th>
        </tr>
        </tfoot>
      </table>
    </div>
    <!-- /.box-body -->

  </div>
</section>
