
<div class="modal-header">
  <h4 class="modal-title pull-left">Confirmação de Geração de Fatura</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<app-alert-message></app-alert-message>

  <div class="modal-body">
    <table class="table table-bordered table-striped">
      <thead>
      <tr>
        <th>Parcela</th>
        <th>Período</th>
        <th>Vencimento</th>
        <th>Valor</th>
      </tr>
      </thead>
      <tbody *ngFor="let parcela of parcelas">
      <tr>
        <td>{{parcela.parcela}}</td>
        <td>{{parcela.periodo_inicial | date: 'dd/MM/yyyy'}} ~ {{parcela.periodo_final | date: 'dd/MM/yyyy'}} {{parcela.dias ? '('+parcela.dias + ' dias)' : ''}}</td>
        <td>{{parcela.data_vencimento | date: 'dd/MM/yyyy'}}</td>
        <td>{{parcela.valor | currency:"BRL":"symbol"}}</td>
      </tr>
      <tr *ngFor="let item of parcela.itens">
        <td class="text-center" colspan="3">{{item.item}}</td>
        <td>{{item.valor | currency:"BRL":"symbol"}}</td>
      </tr>
      <tr>
        <td colspan="3"></td>
        <td><b>{{parcela.valor_total | currency:"BRL":"symbol"}}</b></td>
      </tr>
      </tbody>
    </table>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="gerarParcelas()">Gerar Fatura</button>
  </div>

<ngx-loading [show]="loading"></ngx-loading>
