<section class="content-header">
  <h1>
    Modelos de Documentos
    <small>{{modelo.id ? 'Atualizar' : 'Adicionar'}}</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li><a href="#">Modelos de Documentos</a></li>
    <li class="active">{{modelo.id ? 'Atualizar' : 'Adicionar'}}</li>
  </ol>
</section>

<section class="content">
  <div class="row">
    <!-- left column -->
    <div class="col-md-12">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">{{modelo.id ? 'Atualizar' : 'Adicionar'}} Pessoa</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form #modeloForm="ngForm" name="modeloForm" role="form" (ngSubmit)="onSubmit(modeloForm)">
          <input type="hidden" name="id" value="id" [(ngModel)]="modelo.id"/>

          <app-alert></app-alert>

          <div class="box-body">
            <div class="row">
              <div class="form-group col-md-6">
                <label for="nome">Nome: </label>
                <input type="text"
                       class="form-control"
                       id="nome"
                       name="nome"
                       [(ngModel)]="modelo.nome"
                       [required]="true"
                       placeholder="Nome"/>
              </div>

              <div class="form-group col-md-3">
                <label for="tipo_modelo_documento">Tipo de Modelo De Documento: </label>
                <select class="form-control"
                        id="tipo_modelo_documento"
                        [(ngModel)]="modelo.id_tipo_modelo_documento"
                        [required]="true"
                        name="id_tipo_modelo_documento">
                  <option [value]="1">Contrato de Locação</option>
                  <option [value]="2">Contrato de Temporada</option>
                  <option [value]="3">Recibo de Pagamento</option>
                </select>
              </div>

            </div>

            <div class="row">
              <button >Adicionar</button>
              <div class="box-body pad">
                <label for="tipo_modelo_documento">Conteúdo: </label>
                <ckeditor (blur)="ckEditorOnBlur($event)" [editor]="Editor" data="<p>Hello, world!</p>"></ckeditor>
              </div>
            </div>

          </div>
          <!-- /.box-body -->
          <div class="box-footer text-center">
            <button type="submit" class="btn btn-primary" [disabled]="!modeloForm.valid">Salvar</button>
            <button type="button" class="btn btn-success" [routerLink]="['/list-modelo-documento']">Voltar</button>
          </div>

        </form>

      </div>
    </div>
  </div>
</section>
